@model IEnumerable<Trips_and_Travel.Models.Post>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";

}
<h2 style="margin-top:250px;text-align:center;background-color:antiquewhite"><strong>Welcome  @Session["username"]</strong></h2>
